<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From the LOC</title>
</head>
<body>
    <h1>Some photos from the Library of Congress (via their API)</h1>
    {% for r in results%}
        <div>{{ r[0] }}</div>
        <img style="-webkit-user-select: none;margin: auto;"
            src="{{ r[1]}}">
    {% endfor %}
</body>
</html>
