<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From the LOC</title>
</head>
<body>
    <h1>Some photos from the Library of Congress (via their API)</h1>
    {% for k,v in results.items()%}
        {% set lnk = v.split('/')[4] %}
        <a href="{{ url_for('collection_images', lnk=lnk) }}">{{ k }}</a>
        <br/>
    {% endfor %}
</body>
</html>
